body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .gallery {
        width: 100%;
        justify-content: center;
    }
    .gallery-item {
        width: 100%;
        max-width: 360px;
    }
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.044);
}

.modal-overlay {
    width: 90vw;
    height: 90vh;
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-description {
    position: absolute;
    bottom: auto;
    top: 40px;  
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(243, 240, 240, 0.3); 
    color: rgb(52, 51, 51);
    font-size: 20px;
    text-align: center;
    max-width: 80%;
    
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 1;
}
